<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>
        {{ title }} - Orders
    </title>
</head>

<body>
    <h1>Customer Orders</h1>

    <table class="orders">
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Item</th>
        <th>Description</th>

        {% for order in orders %}
        <tr>
            <td><a href="http://127.0.0.1:5000/orders/{{ order.order_id }}">{{ order.order_id }}</a></td>
            <td>{{ order.cust_name }}</td>
            <td>{{ order.date }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.item }}</td>
            <td>{{ order.description }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>